<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="icon" type="img/x-icon" href="${require('../imgs/favicon.ico')}">
      <title>Potluck of the Minds</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>
      <hr>
      <div style="text-align: center">
        <h1> Potluck of the Minds </h1>
      </div>
      <hr>
    </header>
    <section>
      <div class="flexboxContainer">
        <div class="test darkTurq"></div>
        <div class="test lightTurq"></div>
        <div class="test darkRed"></div>
        <div class="test lightRed"></div>
        <div class="test purple"></div>
      </div>
      <p id="counter"></p>
    </section>
    <footer>
      <h3>RSVP</h3>
      <ul>
        <li><img src="${require('../imgs/facebook-square.png')}"></li>
        <li><img src="${require('../imgs/meetup.png')}"></li>
      </ul>
    </footer>
  </body>
</html>
