body {
  background-color: #136966; }

.test {
  width: 150px;
  height: 150px; }

.flexboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.darkTurq {
  background-color: #136966; }

.lightTurq {
  background-color: #1A9A8B; }

.darkRed {
  background-color: #8C2425; }

.lightRed {
  background-color: #E9262C; }

.purple {
  background-color: #1E0D1F; }

