// This sets the footer at the bottom of the page
// Not sure this is doing anything anymore
.potm-container {
  min-height: calc(100vh - 100px);
}

// Footer height cannot be stored as a variable
// It gets evaled to late
.potm-footer {
  font-family: $poppins-font-family;
  @include display-flex(center, center, row);
  background-color: $quinary;
  height: 100px;
}

// Icon link styles
.social-link {
  .fab {
    color: $senary;
    padding: 0px 10px;
  }
}
