// This sets the footer at the bottom of the page
// Not sure this is doing anything anymore
.potm-container {
  min-height: calc(100vh - 100px);
}

// Footer height cannot be stored as a variable
// It gets evaled to late
.potm-footer {
  font-family: $poppins-font-family;
  @include display-flex(center, normal, column);
  background-color: $quinary;
  height: 15rem;
  .potm-footer-elem__social {
    background-color: $black;
    @include display-flex(center, center, row);
    width: 100%;
    height: 50%;
  }
  .potm-footer-elem__rsvp {
    @include display-flex(center, space-around, row);
    padding-top: 1.5rem;
    .potm-footer-elem__rsvp__anchor {
      width: 80%;
      padding-left: 2rem;
    }
    .potm-footer-elem__rsvp__text {
      font-size: x-small;
    }
  }
}

// Icon link styles
.social-link {
  .fab {
    color: $senary;
    padding: 0px 10px;
  }
}
