// Holds all the global variables for scss
// Color palette 
$primary: #136966;
$primary-rgba:rgba(26,154,139,0.64);
$secondary: #1A9A8B;
$tertiary: #8C2425;
$tertiary-rgba: rgba(140,36,37,0.63);
$quaternary: #E9262C;
$quinary: #1E0D1F;
$quinary-rgba: rgba(30,13,31,1);
$senary: #ffff;

// Reusable values
$none: none;
$spacer-height: 10vh;

// Fonts
$poppins-font-family: "Poppins", sans-serif;
$avenir-next-font-family: "Avenir Next", courier;