.potm-logo-nav {
  margin-left: 20px;
}

@keyframes shadow-transform {
  0% { text-shadow: 4px 4px $primary, -4px -4px $quaternary; }
  25% { text-shadow: -4px 4px $primary, 4px -4px $quaternary; }
  50% { text-shadow: -4px -4px $primary, 4px 4px $quaternary; }
  80% { text-shadow: 4px -4px $primary, -4px 4px $quaternary; }
  100% {  text-shadow: 4px 4px $primary, -4px -4px $quaternary; }
}

.potm-header {
  padding-top: 20px;
  background-image: url($bg-header);
  background-repeat: no-repeat;
  height: 800px;
  .potm-navbar {
    font-family: $poppins-font-family;
    color: $senary;
    width: 100%;
    @include display-flex(center, space-between, row);
    .potm-h2-basic-brand {
      padding-left: 0.8vw;
    }
  }
  .potm-ul-top-nav {
    list-style: none;
    padding-right: .8rem;
    font-family: $poppins-font-family;
    @include display-flex(center, space-between, row);
    a {
      color: $senary;
      text-decoration: none;
      font-family: $poppins-font-family;
      padding: .5rem;
      font-size: 2.8vh;
    }
  }
  .potm-section-content-header {
    a {
      border-radius: 25px;
      background-color: transparent;
      color: white;
      padding: 1.6rem 4rem;
      margin-top: 3rem;
      font-size: 0.8rem;
      border-width: 0.5px;
      border-color: rgba(255,255,255,0.5);
    }
  }
  .stroke-187 {	
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    margin-top: 12rem;
    border-left: 3px solid #1A9A8B;
    border-bottom: 3px solid #1A9A8B;
    transform: rotate(-45deg);
  }
}

.potm-section-content-header {
  font-family: $poppins-font-family;
  font-size: 2.6vh;
  color: $senary;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .potm-h3-animated-potm{
    font-size: 79px;
    color: $senary;
    padding-top: 12%;
    font-weight: bolder;
    animation-name: shadow-transform;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

}
