// Section css
.potm-section-spacer {
  height: $spacer-height;
 }
 
 .potm-section-content-slider {
   height: 793px;
   background-image: url('../images/woman.png');
   background-repeat: no-repeat;
   background-position: center right;
   .carousel-item{
      margin-top: 350px;
      margin-left: 25px
   }
   .potm-scs-text1{
      @include potm-section-text(20px, $secondary);
   }
   .potm-scs-text2{
      @include potm-section-text(16px, $senary);
   }
   .potm-scs-text3{
      @include potm-section-text(40px, $senary);
   }
 }
 
 .potm-section-content-articles {
   font-family: $poppins-font-family;
   font-size: 2.6vh;
   background-color: $black;
   height: 492px;
 }
 
 .potm-section-content-events{
    @include potm-section-content($bg-content-events);
 }
 
 .potm-section-content-speakers {
    @include potm-section-content($bg-content-speakers);
    .potm-scs-text4{
      text-align: center;
      color: $senary;
      font-family: $poppins-font-family;
      font-size: 44px;
    }
    .potm-scs-container{
      display: flex;
      justify-content: space-evenly;
    }
    .potm-scs-img-container{
      margin-top: 30%;
      display: inline-block;
      text-align: center;
    }
    .potm-scs-images{
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
    .potm-scs-image-names{
      font-family: $avenir-next-font-family;
      font-size: 18px;
      color: $senary;
      display: block;
    }
 }
 