// Section css
.potm-section-spacer {
  height: $spacer-height;
 }
 
 .potm-section-content-slider {
   height: 643px;
 }
 
 
 .potm-section-content-articles {
   font-family: $poppins-font-family;
   font-size: 2.6vh;
   background-color: $black;
   color: $senary;
   height: 642px;
 }
 
 .potm-section-content-events{
   @include ptom-section-content($bg-content-events);
 }
 
 .potm-section-content-speakers {
   @include ptom-section-content($bg-content-speakers);
 }
 