
$primary: #136966;
$secondary: #1A9A8B;
$tertiary: #8C2425;
$quaternary: #E9262C;
$quinary: #1E0D1F;

body {
  background-color: $primary;
}
.test{
  width: 150px;
  height: 150px;
}
.flexboxContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.darkTurq {
  background-color:  $primary;
}
.lightTurq {
  background-color: $secondary;
}
.darkRed {
  background-color: $tertiary;
}
.lightRed {
  background-color: $quaternary;
}
.purple {
  background-color: $quinary;
}